<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Yale SDMP Training</title>
    <%= stylesheet_link_tag "main" %>
  </head>
  <body>
    <%= partial "partials/nav" %>
    <main class="container mt-3" role="main">
      <%= yield %>
    </main>
    <%= partial "partials/footer" %>
    <%= partial "partials/analytics" %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
