<nav class="navbar navbar-light bg-light sticky-top navbar-expand-lg">
  <%= link_to 'Yale SDMP Training', '/index.html', class: 'navbar-brand' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-3 mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="coreTrainingDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Core Training
        </a>
        <div class="dropdown-menu" aria-labelledby="coreTrainingDropdown">
          <%= link_to '0. Introduction', '/core/introduction.html', class: 'dropdown-item' %>
          <%= link_to '1. Not-So-Basics', '/core/not-so-basics.html', class: 'dropdown-item' %>
          <%= link_to '2. Refactoring', '/core/refactoring-plus.html', class: 'dropdown-item' %>
          <%= link_to '3. Code Review', '/core/code-review.html', class: 'dropdown-item' %>
          <%= link_to '4. Rails and More', '/core/rails-and-more.html', class: 'dropdown-item' %>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="advancedDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Advanced Topics
        </a>
        <div class="dropdown-menu" aria-labelledby="advancedDropdown">
          <%= link_to 'Advanced Foo', '/advanced/foo.html', class: 'dropdown-item' %>
          <%= link_to 'Advanced Bar', '/advanced/bar.html', class: 'dropdown-item' %>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="advancedDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Front-End Training
        </a>
        <div class="dropdown-menu" aria-labelledby="advancedDropdown">
          <%= link_to 'Front-End Foo', '/front-end/foo.html', class: 'dropdown-item' %>
          <%= link_to 'Front-End Bar', '/front-end/bar.html', class: 'dropdown-item' %>
        </div>
      </li>
      <li class="nav-item">
        <%= link_to 'Coord Training', '/coord-training.html', class: 'nav-link' %>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <%= link_to 'About', '/about.html', class: 'nav-link' %>
      </li>
    </ul>
  </div>
</nav>
